:root{
    font-family: "Lato", sans-serif;
    font-size: 16px;

    --red: #C40C0C;
    --green: #06D001;
    --black: #171717;
    --white: #FFFFFF;
}

.hidden{
    display: none;
}

.positivo{
    color: var(--green);
}

.negativo{
    color: var(--red);
}

body{
    background-color: var(--black);
    color: var(--white);
    font-size: 1.25rem;
}

.btn{
    background-color: var(--red);
    color: var(--white);
    transition: .4s;
    border: none;
    width: 130px;
}

.btn:hover{
    background-color: var(--red);
    color: var(--white);
    scale: 1.1;
}

.btn:active{
    border: 1px solid var(--red) !important;
    color: var(--red) !important;
}

#apresentacao h1{
    color: var(--red);
    font-size: 4rem;
}

#apresentacao p{
    color: var(--white);
}

#apresentacao .gif{
    height: 250px;
    background-image: url(../Assets/Patinho-dancando.gif);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

#capturaPalavra .form-control{
    width: 300px;
}

#capturaPalavra .form-control:focus{
    border: 1px solid var(--red);
    outline: none;
    box-shadow: none;
}


#adivinhacao{

}

#boneco{
   
}


#insercao-letras p{
    width: 40%;
    border-bottom: 1px solid var(--red);
}

#teclado .tecla{
    width: 50px;
    background-color: var(--black);
    border: 1px solid var(--red);
}

#teclado .tecla:hover{
    background-color: var(--red);
}

.tecla-certa{
    background-color: var(--green);
    border: 1px solid var(--green);
}

.tecla-errada{
    background-color: var(--red);
}

#resultado{
    color: var(--green);
}